Updater/Connected Services/UpdaterServiceReference/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57718/UpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57718/UpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57718/UpdateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UpdaterService.Models" />
      <xsd:import schemaLocation="http://localhost:57718/UpdateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UpdaterService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateService_SelfUpdateNeeded_InputMessage">
    <wsdl:part name="parameters" element="tns:SelfUpdateNeeded" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_SelfUpdateNeeded_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelfUpdateNeededResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetFileBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBlock" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetFileBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBlockResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="IUpdateService_GetUpdateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateService">
    <wsdl:operation name="SelfUpdateNeeded">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/SelfUpdateNeeded" message="tns:IUpdateService_SelfUpdateNeeded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/SelfUpdateNeededResponse" message="tns:IUpdateService_SelfUpdateNeeded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBlock">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetFileBlock" message="tns:IUpdateService_GetFileBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetFileBlockResponse" message="tns:IUpdateService_GetFileBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateInfo" message="tns:IUpdateService_GetUpdateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateService/GetUpdateInfoResponse" message="tns:IUpdateService_GetUpdateInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateService" type="tns:IUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelfUpdateNeeded">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/SelfUpdateNeeded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBlock">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetFileBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateInfo">
      <soap:operation soapAction="http://tempuri.org/IUpdateService/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port name="BasicHttpBinding_IUpdateService" binding="tns:BasicHttpBinding_IUpdateService">
      <soap:address location="http://localhost:57718/UpdateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>